body{
    background-color: aqua;
}

.menu{
    padding: 20px;
    background-color: orange;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 2px solid blue;
}
.for{
    background-color: orange;
    color: skyblue;
    width: 300px;
    padding: 25px;
    margin: auto;
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid blue;
}